.chatWindow{
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;   
}

/* navbar part */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.userIconDiv{
   margin: 10px;
    padding: 10px;
}

.userIcon {
    background-color: #555;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* chat input  */

.chatInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .inputBox {
    width: 100%;
    position: relative;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    border: 1px solid #444;
    background-color:rgba(255,255,255, 0.05);
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
}
#submit{
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 20px;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit i:hover{
    color: #4c4c4c;
}

.info{
    font-size: 14px;
    padding: 0.5rem;
    color: rgb(157, 150, 143);
}

